:root {
  --main-font: "Roboto", sans-serif;
  --secondary-font: "Raleway", sans-serif;
  --accent-color: #2196f3;
}

body {
  font-family: var(--main-font);
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

.address {
  font-style: normal;
}
.advantages-title {
  visibility: hidden;
}

.logo-accent {
  color: var(--accent-color);
}

/* =====================HEADER================= */

.logo-link {
  position: absolute;
  width: 145px;
  height: 31px;
  left: 215px;
  top: 24px;
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.logo-dark {
  color: #000000
}

.navigation-item-studio {
  position: absolute;
  width: 49px;
  height: 16px;
  left: 453px;
  top: 32px;
  font-family: var(--main-font);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #212121;
}

.navigation-item-portfolio {
  position: absolute;
  width: 77px;
  height: 16px;
  left: 552px;
  top: 32px;
  font-family: var(--main-font);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #212121;
}

.navigation-item-contacts {
  position: absolute;
  width: 68px;
  height: 16px;
  left: 679px;
  top: 32px;
  font-family: var(--main-font);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #212121;
}

.navigation-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #212121;
}

.navigation-link:hover,
.navigation-link:focus {
  color: var(--accent-color);
}

.contact-mail {
  position: absolute;
  width: 135px;
  height: 16px;
  left: 1078px;
  top: 32px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #757575;
}

.contact-phone {
  position: absolute;
  width: 122px;
  height: 16px;
  left: 1263px;
  top: 32px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #757575;
}

.contact-mail:hover,
.contact-mail:focus,
.contact-phone:hover,
.contact-phone:focus {
  color: var(--accent-color);
}
.link-active {
  color: var(--accent-color);
}

/* =================END HEADER================ */

/* ================HERO====================== */

.hero {
  position: absolute;
  width: 1600px;
  height: 600px;
  left: 0px;
  top: 80px;
  background: #2f303a;
}

.hero-title {
  position: absolute;
  width: 696px;
  height: 120px;
  left: 452px;
  top: 280px;
  font-family: var(--main-font);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
}

.modal-btn {
  position: absolute;
  width: 200px;
  height: 50px;
  left: 700px;
  top: 430px;
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-family: var(--main-font);
  -webkit-text-stroke: 1px black;
  color: #ffffff;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  cursor: pointer;
}

.modal-btn:hover,
.modal-btn:focus,
.modal-btn:active {
  background-color: #188ce8;
  color: #ffffff;
  transition-duration: 0.5s;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

/* =================END HERO================== */

/* =================ADVANTAGES=================== */

.advantages-item-1-title {
  position: absolute;
  width: 270px;
  height: 16px;
  left: 215px;
  top: 774px;
  font-family: var(--main-font);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
}

.advantages-item-2-title {
  position: absolute;
  width: 270px;
  height: 101px;
  left: 515px;
  top: 774px;
  font-family: var(--main-font);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
}

.advantages-item-3-title {
  position: absolute;
  width: 270px;
  height: 101px;
  left: 815px;
  top: 774px;
  font-family: var(--main-font);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
}

.advantages-item-4-title {
  position: absolute;
  width: 270px;
  height: 101px;
  left: 1115px;
  top: 774px;
  font-family: var(--main-font);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
}

.advantages-text-1 {
  position: absolute;
  width: 270px;
  height: 75px;
  left: 215px;
  top: 800px;
  font-family: var(--main-font);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
}

.advantages-text-2 {
  position: absolute;
  width: 270px;
  height: 75px;
  left: 515px;
  top: 800px;
  font-family: var(--main-font);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
}

.advantages-text-3 {
  position: absolute;
  width: 270px;
  height: 75px;
  left: 815px;
  top: 800px;
  font-family: var(--main-font);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
}

.advantages-text-4 {
  position: absolute;
  width: 270px;
  height: 75px;
  left: 1115px;
  top: 800px;
  font-family: var(--main-font);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
}

/* ===============END ADVANTAGES=================== */

/* ===================EXAMPLES========================= */

.examples-title {
  position: absolute;
  width: 376px;
  height: 42px;
  left: 612px;
  top: 969px;
  font-family: var(--main-font);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  white-space: nowrap;
}

.examples-item-1 {
  position: absolute;
  width: 370px;
  height: 294px;
  left: 215px;
  top: 1061px;
}

.examples-item-2 {
  position: absolute;
  width: 370px;
  height: 294px;
  left: 615px;
  top: 1061px;
}
.examples-item-3 {
  position: absolute;
  width: 370px;
  height: 294px;
  left: 1015px;
  top: 1061px;
}
/* ================END EXAMPLES========================= */

/* =================TEAM============================= */
.team-title {
  position: absolute;
  width: 264px;
  height: 42px;
  left: 668px;
  top: 1543px;
  font-family: var(--main-font);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  white-space: nowrap;
}

.team-item-img-1 {
  position: absolute;
  width: 270px;
  height: 260px;
  left: 215px;
  top: 1635px;
}

.team-item-img-2 {
  position: absolute;
  width: 270px;
  height: 260px;
  left: 515px;
  top: 1635px;
}

.team-item-img-3 {
  position: absolute;
  width: 270px;
  height: 260px;
  left: 815px;
  top: 1635px;
}

.team-item-img-4 {
  position: absolute;
  width: 270px;
  height: 260px;
  left: 1115px;
  top: 1635px;
}

.team-item-name-1 {
  position: absolute;
  width: 151px;
  height: 19px;
  left: 275px;
  top: 1925px;
  font-family: var(--main-font);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  white-space: nowrap;
}

.team-item-name-2 {
  position: absolute;
  width: 109px;
  height: 19px;
  left: 596px;
  top: 1925px;
  font-family: var(--main-font);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  white-space: nowrap;
}

.team-item-name-3 {
  position: absolute;
  width: 137px;
  height: 19px;
  left: 882px;
  top: 1925px;
  font-family: var(--main-font);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  white-space: nowrap;
}

.team-item-name-4 {
  position: absolute;
  width: 134px;
  height: 19px;
  left: 1183px;
  top: 1925px;
  font-family: var(--main-font);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  white-space: nowrap;
}

.team-item-text-1 {
  position: absolute;
  width: 130px;
  height: 19px;
  left: 285px;
  top: 1954px;
  font-family: var(--main-font);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em
  color: #757575;
}

.team-item-text-2 {
  position: absolute;
  width: 147px;
  height: 19px;
  left: 577px;
  top: 1954px;
  font-family: var(--main-font);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em
  color: #757575;
}

.team-item-text-3 {
  position: absolute;
  width: 76px;
  height: 19px;
  left: 912px;
  top: 1954px;
  font-family: var(--main-font);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em
  color: #757575;
}

.team-item-text-4 {
  position: absolute;
  width: 87px;
  height: 19px;
  left: 1207px;
  top: 1954px;
  font-family: var(--main-font);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em
  color: #757575;
}
/* ===================END TEAM======================= */

/* ====================FOOTER======================== */

.logo-light {
  color: #ffffff;
}
.footer {
  position: absolute;
  width: 1600px;
  height: 252px;
  left: 0px;
  top: 2097px;
  background-color: #2f303a;
}

.logo-link-footer {
  /* position: absolute; */
  width: 145px;
  height: 31px;
  left: 215px;
  top: 2157px;
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.address-link {
  /* position: absolute; */
  width: 231px;
  height: 21px;
  left: 215px;
  top: 2208px;
  font-family: var(--main-font);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #FFFFFF;
}

.address-mail {
  /* position: absolute; */
  width: 231px;
  height: 21px;
  left: 215px;
  top: 2238px;
  font-family: var(--main-font);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.address-phone {
  /* position: absolute; */
  width: 231px;
  height: 21px;
  left: 215px;
  top: 2268px;
  font-family: var(--main-font);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.address-link:hover,
.address-link:focus,
.address-mail:hover,
.address-mail:focus,
.address-phone:hover,
.address-phone:focus {
  color: var(--accent-color);
}
/* =================END FOOTER========================== */